@import "components.css";
@import "footer.css";
@import "header.css";

body {
    font-family: "Noto Sans", serif;
    margin: 0;
}

.content {
    a {
        text-decoration: none;
        transition-duration: 500ms;
    }

    a:hover {
        color: deepskyblue;
        transition-duration: 500ms;
    }

    a.nav-item-link {
        text-decoration: none;
        color: black;
    }
}

header {
    margin: 0;
}

footer {
    color: white;
    background-color: black;
}
