body {
    font-family: "Noto Sans", serif;
    margin: 0;
}

.content {
    a {
        text-decoration: none;
        transition-duration: 500ms;
    }

    a:hover {
        color: deepskyblue;
        transition-duration: 500ms;
    }

    a.nav-item-link {
        text-decoration: none;
        color: black;
    }
}

header {
    margin: 0;
}

footer {
    color: white;
    background-color: black;
}

.nav-bar {
    padding: 0 100px;

    user-select: none;

    a {
        color: black;
        text-decoration: none;
    }
}

.nav-logo {
    margin-top: 30px;
    display: block;
}

.nav-item-link {
    padding: 40px 40px;
    display: inline-block;

    transition-duration: 200ms;

    background-color: white;

    font-family: "Droid Sans", serif;
    font-weight: bolder;
}

.nav-item-link:hover {
    transition-duration: 200ms;

    color: white;
    background: red;
}

.footer {
    margin: 0 40px;
    padding: 50px 50px 10px 50px;
}

.footer-row {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    margin-left: 14px;
    margin-right: 14px;
    flex-wrap: wrap;
}

.footer-link-list-block {
    margin: 0 14px 32px 14px;
}

.footer-link-list-title {
    color: #aaa;

    font-weight: bold;
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-width: 200px;

    a {
        color: white;
        margin-top: 10px;

        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.footer-icon-list {
    margin-top: 10px;

    display: flex;
    flex-direction: initial;
    align-items: flex-start;

    min-width: 200px;
}

.footer-icon {
    margin: 0 40px 30px 0;

    width: 30px;
    height: 30px;

    filter: invert(100%);
}

.footer-hr {
    display: block;
    height: 0;
    overflow: visible;
    padding: 0;
    border: 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #333;
}
