<html lang="{{ .data.lang }}">
<head>
    <title>{{ .data.title }}</title>
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/166796215"/>
    <link rel="stylesheet" href="/assets/base.css"/>
    <style>
        .blank {
            background-image: url("/assets/img/title.svg");
            background-repeat: no-repeat;

            background-position: center;
        }
    </style>
</head>
<body>
{{ .templates.header }}
<div class="blank">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
{{ .templates.footer }}
</body>
</html>