<html lang="{{ .lang }}">
<head>
    <title>{{ .title }}</title>
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/166796215"/>
    <link rel="stylesheet" href="/assets/base.css"/>
    <style>
        .blank {
            background-image: url("/assets/img/title.svg");
            background-repeat: no-repeat;

            background-position: center;
        }
    </style>
</head>
<body>
<header class="nav-bar">
    {{ with .nav }}
        <div class="nav-logo" style="float: left">
            <img src="{{ .logo.src }}" alt="logo" width="{{ .logo.width }}" height="{{ .logo.height }}"/>
        </div>
        <nav style="float: right">
            {{ range .items }}
                <a class="nav-item-link" href="{{ .link }}">{{ .name }}</a>
            {{ end }}
        </nav>
    {{ end }}
</header>

<div class="blank">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>

<footer>
    <div class="footer">
        {{ with .footer }}
            <div class="footer-row">
                {{ range .lists }}
                    <div class="footer-link-list-block">
                        <div class="footer-link-list-title">{{ .title }}</div>
                        <div class="footer-link-list">
                            {{ range .links }}
                                <a href="{{ .link }}">{{ .name }}</a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}

                <div class="footer-link-list-block">
                    <div class="footer-link-list-title">Connect with us</div>
                    <div class="footer-icon-list">
                        {{ with .media }}{{ range .list }}
                            <a class="footer-icon" href="{{ .link }}" target="_blank">
                                <img src="https://simpleicons.org/icons/{{ .logo }}.svg" alt="{{ .logo }}"/>
                            </a>
                        {{ end }}{{ end }}
                    </div>
                </div>

                <div class="footer-link-list-block" style="float: right">
                    <div style="color: gray; float: right">
                        Proudly built with
                        <a href="https://github.com/webpagine/" target="_blank">
                            <img style="vertical-align: text-top" src="/assets/img/pagine.svg" alt="pagine"/>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="footer-hr"/>

            <div class="footer-row">
                <div class="footer-link-list-block">
                    <img src="{{ .logo.src }}" width="{{ .logo.width }}" height="{{ .logo.height }}" alt="logo"/>
                </div>
                <div class="footer-link-list-block" style="margin-left: 100px; color: gray; max-width: 70%">
                    Love is wise, hatred is foolish.
                    In this world, which is getting more and more closely interconnected,
                    we have to learn to tolerate each other,
                    we have to learn to put up with the fact that some people say things that we don’t like.
                    We can only live together in that way.
                    And if we are to live together and not die together,
                    we must learn a kind of charity and a kind of tolerance,
                    which is absolutely vital to the continuation of human life on this planet.
                    --Russell
                </div>
            </div>

            <div class="footer-row">
                <div class="footer-link-list-block">
                    {{ with .copyright }}
                        <span>&copy; Copyright {{ .date }}</span>
                        <span>{{ .owner }}</span>
                        <span style="color: gray">{{ .license }}</span>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</footer>

</body>
</html>